*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedor{
    background-color: lightgray;
    min-height: 200px;
    display: grid;
    place-items: stretch;
    place-content: center;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: 100px 200px;
    gap: 5px
}

.lista{
    background-color: blueviolet;
    font-size:  2rem;
    color: white;
    text-align: center;
}

.item{
    background: greenyellow;
}

.item-2{
    background: lightpink;
}

 