*{
    padding: 0px;
    margin: 0px;   
    box-sizing: border-box; 
}

div{
    transition-duration: 0.5s;
    width: 150px;
    height: 150px;
    background: darkcyan;
}

div:hover{
    background: gold;
}